<?xml version="1.0" encoding="UTF-8"?>
<!--
    Shopix_Externlog - Store and view external event results in Magento backend
    Copyright (C) 2013 Shopix Pty Ltd (http://www.shopix.com.au)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<config>
    <modules>
        <Shopix_Externlog>
            <version>0.1.0</version>
        </Shopix_Externlog>
    </modules>

    <global>
        <models>
            <shopix_externlog>
                <class>Shopix_Externlog_Model</class>
                <resourceModel>shopix_externlog_resource</resourceModel>
            </shopix_externlog>

            <shopix_externlog_resource>
                <class>Shopix_Externlog_Model_Resource</class>
                <entities>
                    <log>
                        <table>shopix_externlog_log</table>
                    </log>
                </entities>
            </shopix_externlog_resource>
        </models>

        <blocks>
            <shopix_externlog>
                <class>Shopix_Externlog_Block</class>
            </shopix_externlog>
        </blocks>

        <helpers>
            <shopix_externlog>
                <class>Shopix_Externlog_Helper</class>
            </shopix_externlog>
        </helpers>

        <resources>
            <shopix_externlog_setup>
                <setup>
                    <module>Shopix_Externlog</module>
                </setup>
            </shopix_externlog_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <shopix_externlog>
                <use>admin</use>
                <args>
                    <module>Shopix_Externlog</module>
                    <frontName>shopix_externlog</frontName>
                </args>
            </shopix_externlog>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Shopix_Externlog>
                    <files>
                        <default>Shopix_Externlog.csv</default>
                    </files>
                </Shopix_Externlog>
            </modules>
        </translate>
    </adminhtml>
</config>

